* {
  box-sizing: border-box;
  /* margin: 0 !important;
  padding: 0 !important; */
}

.logo {
  font-weight: 700 !important;
}

.sec-bg {
   height: 100vh; 
  background-image: url("/img/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
 
}
#intro{
  background: #E5E5E5;
}

.bt-tag{
  background: #EBEBFF !important;
border-radius: 8px !important;
}

.rb{
  border-radius: 25px;
}
